body{
    font-family: serif;
    
 }
 
 .flex-item1{
     color: white;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     background-color: rgb(3, 3, 49);
     border-radius: 10px;
     padding: 10px;
     font-size: 1%;
     align-items: center;
     
}

img {
    height: 70px;
    width: 70px;
    margin-right: -60px;
    padding: 20px;
}

 .item1{
     font-size: 30px;
     font-weight: bold;
     padding: 5px;
     margin: 10px;
 }
 
 .item2{
     margin: 10px;
     justify-content: space-between;
     text-align: right;
     font-weight: bold;
     
 }
.item2 ul a{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.item2 ul a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
.item2 ul a::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.item2 ul :hover::after{
    width: 100%; 
}
 a{
     font-size: 30px;
     margin-right: 25px;
     text-decoration: none;
     text-align: right;
     color: white;
     justify-content: flex-end;
 }
 
 .yellow{
     height: 20px;
     background-color:  rgb(47, 47, 228);;
     border-radius: 5px;
 }
 
 
 .text1{
     color: white;
     text-shadow: 5px 5px 15px black;
     font-size: 30px;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.219);
 }
 
 .text2{
     font-size: 17px;
     text-align: center;
     color: white;
     background-color: rgba(0, 0, 0, 0.219);
 
 }
 
 
 
 .flex-con1{
     background: url('./images/bg.jpg');
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-position: center;
     background-size: cover;
 
 }
 
 .flex-con{
     padding: 10px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 
 }
 
 .flex-item{
     width: 50px;
     font-size: 16px;
     text-align: center;
     background-color: rgba(55, 65, 74, 0.233);
     padding: 5px;
     margin: 10px;
 }
 
 .item-2{
     flex-grow: 5;
     font-size: 17px;
     text-align: center;
     height: 370px;
     border-left: 3px solid rgb(51, 71, 123);
     border-right: 3px solid rgb(51, 71, 123);
     border-radius: 10px;
     color:black;
     width: auto;
     
 }
 
 .footer {
     background-color: lightslategray;
     border-radius: 10px;
     color: black;
     padding: 5px;
     text-align: center;
 }


 @media(max-width: 420px){
    
    .flex-item1{
        flex-direction: column;
        height: 20vw;
    }
    .item1{
        font-size: 65%;
    }
    .item2{
        font-size: 50%;
        
    }
    a{
        font-size: 3.5vw;
    }

    .yellow{
        height: 3vw;
    }

    .text1{
        font-size: 5vw;
    }

    .text2{
        font-size: 3.5vw;
    }

    .flex-con1{
        background: url(/images/bg.jpg);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
    }

    .flex-con{
        flex-direction: column;
        
    }

    .flex-item{
        text-align: center;
    }

    .item-1{
        font-size: 4vw;
        text-align: center;
        width: 90%;
    }

    .item-2{
        font-size: 3.5vw;
        text-align: center;
        width: 90%;
        
    }

    
 }

 @media(max-width: 768px){
    
    .flex-item1{
        flex-direction: column;
        height: 20vw;
    }
    .item1{
        font-size: 65%;
    }
    .item2{
        font-size: 50%;
        
    }
    a{
        font-size: 3.5vw;
    }

    .yellow{
        height: 3vw;
    }

    .text1{
        font-size: 5vw;
    }

    .text2{
        font-size: 3.5vw;
    }

    .flex-con1{
        background: url('./images/mmsu.jpg');
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center;
        background-size: cover;
    }

    .flex-con{
        flex-direction: column;
        
    }

    .flex-item{
        text-align: center;
    }

    .item-1{
        font-size: 4vw;
        text-align: center;
        width: 90%;
    }

    .item-2{
        font-size: 3.5vw;
        text-align: center;
        width: 90%;
        
    }

    
 }
